:root {
    /* Paleta de cores */
    /* Obtida de: https://www.iamsajid.com/colors/ */
    --color-primary: hsl(70, 50%, 90%);
    --color-secondary: hsl(70, 50%, 10%);
    --color-tertiary: hsl(10, 80%, 20%);
    --color-accent: hsl(130, 80%, 20%);

    /* Medidas padrão */
    --max-width: 1400px;
    --border-radius: 24px;
    --header-height: 50px;

    --space-half: 4px;
    --space-single: 8px;
    --space-double: 16px;
    --space-triple: 24px;
    --space-quadruple: 32px;
}

/* LAYOUT */
.index h1 {
    text-align: center;
}

/* COMPONENTES */
.row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-single);
}
