:root {
    /* Paleta de cores */
    /* Obtida de: https://www.iamsajid.com/colors/ */
    --color-primary: hsl(70, 50%, 90%);
    --color-secondary: hsl(70, 50%, 10%);
    --color-tertiary: hsl(10, 80%, 20%);
    --color-accent: hsl(130, 80%, 20%);

    /* Medidas padrão */
    --max-width: 1400px;
    --border-radius: 24px;

    --space-half: 4px;
    --space-single: 8px;
    --space-double: 16px;
    --space-triple: 24px;
    --space-quadruple: 32px;
}

/* ESTILOS PRINCIPAIS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline-color: var(--color-accent);
}

body {
    background: linear-gradient(0deg, #fff 70%, var(--color-primary) 100%);
    background-repeat: no-repeat;
    color: var(--color-secondary);
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Serif Display", serif;
    color: var(--color-secondary);
}

.container {
    margin: 0 auto;
    max-width: var(--max-width);
}

.shadow-default {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
}

/* COMPONENTES */
.row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-single);
}

#spinner {
    animation: rotate 3s linear infinite;
    width: 30px;
    height: auto;
    color: var(--color-accent);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* LAYOUTS COMUNS */
.main-centro {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-double);
    padding-top: var(--space-quadruple);
    gap: var(--space-double);
}

.index h1 {
    text-align: center;
}

/* CORES PARA TEXTO */
.cor-primaria {
    color: var(--color-primary);
}

.cor-secundaria {
    color: var(--color-secondary);
}

.cor-terciaria {
    color: var(--color-tertiary);
}

.cor-destaque {
    color: var(--color-accent);
}
